button.primary, button.secondary {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  &.primary {
    background: var(--orange-gradient);
    border: 1px solid transparent;
    color: var(--white);
    font-weight: 700;
  }
  &.secondary {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--grey);
    font-weight: 400;
  }
}